body{
    padding-left: 10%;
    padding-right: 10%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

nav{
    background-color: #444;
    padding: 5px;

}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}
nav{
    text-align: center;
}

.persona-header {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding: 20px;
    margin-top: 20px;
}

.persona-image img {
    border-radius: 10px;
    width: 50%;
    height: auto;
}

.persona-info {
    margin-left: 20px;
}

.persona-quote {
    background-color: #ffeb3b;
    padding: 15px;
    margin: 20px;
    font-style: italic;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.section {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

blockquote {
    font-size: 18px;
    color: #555;
}

img{
    width: 100%;
}


/*Style for introduction page Rickny*/

.project-logo {
    width: 150px;
    height: auto;
}

.team-section {
    padding: 20px;
    text-align: center;
}

.team-member {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 78%;
}

footer p{
    margin: 0;
}

/*Index.html*/

.team-photo{
    width: 30%;
    border-radius: 15px;
}
#top-index{
    padding-left: 10%;
    display: flex;
    align-items: center;
}
#intro{
    width: 70%;
}



/*Storyyboard*/
.storyboard {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.scene {
    margin-bottom: 30px;
}

.scene h2 {
    color: #005f73;
    margin-bottom: 10px;
}

.scene p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}


/*Moodoard */
.moodboard {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.moodboard h2 {
    color: #0a9396;
    margin-bottom: 20px;
    text-align: center;
}

.moodboard-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.moodboard-item {
    width: 45%;
}

.moodboard-item h3 {
    color: #005f73;
    margin-bottom: 10px;
}

.moodboard-item p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}
a {
    color: #000dff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;

}